<#assign licenseFirst = "###">
<#assign licensePrefix = "# ">
<#assign licenseLast = "###">
<#include "../Licenses/license-${project.license}.txt">

[config]
package.base=
package.views=WEB-INF/

[actions]
# do action
