<web-app version="3.0" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" >
        
    <!-- Groovy -->  
    <servlet>
        <servlet-name>TemplateServlet</servlet-name>
        <servlet-class>groovy.servlet.TemplateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemplateServlet</servlet-name>
        <url-pattern>*.gsp</url-pattern>
    </servlet-mapping>
    
    <servlet>
      <servlet-name>GroovyServlet</servlet-name>
      <servlet-class>groovy.servlet.GroovyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GroovyServlet</servlet-name>
        <url-pattern>*.groovy</url-pattern>
    </servlet-mapping>
    
    <!-- Scalate -->
    <servlet>
        <servlet-name>TemplateEngineServlet</servlet-name>
        <servlet-class>org.fusesource.scalate.servlet.TemplateEngineServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemplateEngineServlet</servlet-name>
        <url-pattern>*.ssp</url-pattern>
    </servlet-mapping>

    <!-- Zk -->
    <context-param>
        <param-name>servlet.path.outside</param-name>
        <param-value>/zkau</param-value>
    </context-param>
    
</web-app>
